<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "com.phonegap.example"
    versionCode = "10"
    version     = "2.0.0" >

<preference name='phonegap-version' value='cli-7.0.1' />
<preference name='pgb-builder-version' value='1' />
<!-- versionCode is optional and Android only -->

  <name>cropping sample1</name>

  <description>
      An example for cropping images on the phone.
  </description>

  <author href="https://build.phonegap.com" email="support@phonegap.com">
      Hardeep Shoker
  </author>

</widget>
