
<div id="searchView" >
    
        <div class="paragraph">
            <strong>Choose where you want to search:</strong><br/><br/>
            <div class="nothing"><input type="checkbox" id="seaedGoods" /><label for="search_bakedGoods" id="bakedgoods" class="amenities">In your heart :)</label></div>
            <div class="searchfilter"><input type="checkbox" id="search_cheese" /><label for="search_cheese" id="cheese" class="amenities">In your heart :)</label></div>
            <br/><br/>
            
            <strong>(the illusion of choice)</strong><br/><br/>
            
            <br/><br/>
            <a class="button" id="searnnchButton" href="#">Search</a>
            
        </div>
    </div>
</div>
